@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
    font-family: 'Roboto', sans-serif; /* Modern style font - Roboto */
    background-color: aliceblue;
}

h1 {
    font-weight: normal; /* Optionally adjust font weight if needed */
}

.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(119, 209, 229, 0.5); /* Set the background color to be transparent */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adjust the alpha value here for the box shadow transparency */
    margin-top: 105px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.header-left {
    text-align: left;

}

.header-right {
    text-align: right;
}

.data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.temperature {
    margin: auto;
    color: black;
    text-align: center;
    font-size:xx-large;
}

.wind {
    text-align: left;
    margin-left: 3em;
}

.soil {
    text-align: left;
    margin-left: 0em;
}

.weather-data {
    text-align: left;
    
}