body {
    background-color: rgb(146, 228, 253);
    font-family: 'Roboto', sans-serif; /* Modern style font - Roboto */
}

h1 {
    font-weight: normal; /* Optionally adjust font weight if needed */
}

.hlavicka {
    /* Apply styles here */
    background-color: #f0f0f0; /* Background color */
    color: #333; /* Text color */
    padding: 20px; /* Padding around content */
    border: 1px solid #ccc; /* Border */
    border-radius: 5px; /* Border radius */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
    font-size: 16px; /* Font size */
  }
  

/* Center text on smaller screens */
@media only screen and (max-width: 600px) {
    body {
        text-align: center;
    }

    h1 {
        text-align: center;
    }

    div[id^="field"] {
        text-align: center;
    }
}